@keyframes validate_menu_item {
    from {
        width: 0;
    }

    to {
        width: 80px;
    }
}

@keyframes slide_from_right {
    0% {
        transform: translateX(2048px);
    }

    100% {
        transform: translateX(0);
    }
}