@keyframes validate_menu_item {
    from {
        width: 0;
    }

    to {
        width: 80px;
    }
}

@keyframes slide_from_right {
    0% {
        transform: translateX(2048px);
    }

    100% {
        transform: translateX(0);
    }
}

// loader ring
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// loader 
@keyframes loader_anim {
    99% {
        transform: translate(0);
    }

    100% {
        transform: translate(-999999px);
    }
}