footer {
    background-color: $footer-bg-color;
    color: $footer-link-color;
    margin: auto;
}

.footer_container {
    margin: 0;
    padding: 0.5em 1.2em;
    line-height: 2em;
}

ul {
    & li {
        list-style: none;
        margin-left: -2.5em;
        & a {
            color: $footer-link-color;
            &:hover {
                color: $footer-link-hover-color;
            }
            & svg {
                width: 20px; // So the text behind icons keep alignment
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer_container {
        width: 1200px;
        margin: auto;
    }
}
