* {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

main {
    overflow-x: hidden;
}

a, a:visited {
    text-decoration: none;
    color: $black;
}

h1,
h2,
h3 {
    font-family: "Shrikhand", 'Times New Roman', Times, serif;
}

h4,
h5,
h6 {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

.order_btn {
    background: linear-gradient(347deg, $primary, $secondary);
    border-radius: 50px;
    border-style: none;
    box-shadow: 2px 2px 8px $grey;
    font-weight: 500;
    color: white;
    padding: 1em 1em;
    margin: 0 auto 2em auto;
    transition: all 200ms ease;
    width: 50%;

    &:active {
        transform: scale(0.9);
        box-shadow: 1px 1px 4px $grey;
    }
}

/* Doesn't work on firefox. There's a code for that in Firefox but it doesn't work on the main bar. Or maybe it's Linux again... */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $lightgrey;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, $primary, $secondary);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}