* {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

main {
    overflow-x: hidden;
}

a, a:visited {
    text-decoration: none;
    color: $links-text-color;
}

h1,
h2,
h3 {
    font-family: "Shrikhand", 'Times New Roman', Times, serif;
}

h4,
h5,
h6 {
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

/** 
    This gives some style on the scrollbars on desktop.
    Doesn't work on firefox. There's a code for that in Firefox but it doesn't work on the main bar. 
    Or maybe it's Linux again... 
*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-thumb-hover-color;
}