.main_header {
    background-color: $main-header-color;
    vertical-align: middle;
    text-align: center;
    & h4 {
        font-size: $main-header-h4-fontsize;
        padding: 0 1em;
    }
    & h5 {
        font-size: $main-header-h5-fontsize;
        font-weight: 200;
        padding: 0 1em; 
    }
}

#location_box {
    height: 64px;
    background-color: $location-bg-color;
    font-size: $location-fontsize;
    font-weight: 500;
    line-height: 64px;
    & svg { // Seems fontawesome now transforms i into svg
        padding-right: 15px;
        margin: auto 0px;
    }
}
