.menu_head_bg {
    position: sticky;
    top: 66px;
    margin: 0;
    width: 100%;
    z-index: -10;
    & img {
        @include responsive_pic(300px);
    }
}

.menu_header {
    display: flex;
    flex-direction: column;
    padding: 20px 1em 0 1em;
    margin: -64px 0 0 0;
    background-color: $lightergrey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 20;
    & h1 {
        font-size: 1.5em;
    }
}

.menu_section {
    width: auto;
    padding-bottom: 2em;
    animation: slide_from_right $slidetime ease forwards;
    & h2 {
        font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 1.25em;
    }
}

.menu_underline {
    margin: -12px auto 1.5em 0;
    width: 40px;
    border: 2px solid $tertiary;
}

a .dish {
    background-color: $white;
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 8px $lightgrey;
    padding: 1em;
    z-index: 1;
    animation: slide_from_right $slidetime ease forwards;
    & h4 {
        @include hide_that_text;
        font-size: 1em;
        margin: 0;
        transition: width $enlargetime ease-out;
        width: 80%;
    }
    & p {
        @include hide_that_text;
        font-size: 0.9em;
        margin: 8px 0 0 0;
        transition: width $enlargetime ease-out;
        width: 80%;
    }
    & .price {
        font-weight: bold;
        font-size: 1.2em;
        float: right;
        transition: transform $enlargetime ease-out;
        transform: translateX(0);
        height: auto;
    }
    &:hover {
        & .dish__valid {
            animation: validate_menu_item $enlargetime ease-out forwards;
            &::before {
                opacity: 1;
                left: 25px;
            }
        }
        & .price {
            transform: translateX(-70px);
        }
        & p {
            width: 50%;
        }
        & h4 {
            width: 50%;
        }
    }
    &__valid {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $tertiary;
        color: $white;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 1;
        &::before {
            font: var(--fa-font-solid);
            content: "\f058";
            color: $white;
            opacity: 0;
            font-size: 2em;
            position: absolute;
            top: 22px;
            left: -35px;
        }
    }
}

@keyframes validate_menu_item {
    from {
        font-size: 0;
        width: 0;
    }
    to {
        font-size: 1em;
        width: 80px;
    }
}

@keyframes slide_from_right {
    0% {
        transform: translateX(120%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (min-width: 1024px) {
    .menu_section .card_container {
        flex-direction: column;
        align-items: stretch;
    }
    .dish {
            width: auto;
    }
}