nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
    padding-top: 16px;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 0px 4px black;
    z-index: 100;
    background-color: $white;
}

#logo {
    font-family: "Shrikhand", 'Times New Roman', Times, serif;
    font-size: 2em;
    height: 2em;
    margin: 0;
}

#back_button {
    position: absolute;
    top: 17px;
    left: 20px;
    text-decoration: none;
}
