// this one contains the base for the animated elements 
@mixin anims_base($z-index) {
    position: absolute; // Don't forget to put position relative to parent object!
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index;
}

// this one has the bases for responsive pictures
@mixin responsive_pic($height) {
    width: 100%;
    height: $height;
    object-fit: cover;
    object-position: center;
}

// this one hides the text that is overflown, like in the dishes button
@mixin hide_that_text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

// This one defines some default settings for the loader animation
@mixin loader_anim_base {
    animation-name: loader_anim;
    animation-duration: $loadertime;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}